@using Servis.Utility
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Servis</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="background-picture">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Servis</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole(SD.TechUser) || User.IsInRole(SD.AdminUser))
                        {
                            <li class="nav-item dropdown text-dark">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarServiceOrder" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Servisni nalozi</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                    <a class="dropdown-item" asp-action="NewServiceOrder" asp-controller="ServiceOrder" asp-area="Admin">Unos naloga</a>
                                    <a class="dropdown-item" asp-action="ServiceList" asp-controller="ServiceOrder" asp-area="Admin">Pregled naloga</a>
                                </div>
                            </li>
                            @if (User.IsInRole(SD.AdminUser))
                            {
                                <li class="nav-item dropdown text-dark">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarCustomer" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Korisnici</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Unos korisnika</a>
                                        <a class="dropdown-item" asp-action="UserList" asp-controller="User" asp-area="Admin">Pregled korisnika</a>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted navbar-light bg-white">
        <div class="container">
            &copy; 2020 - Servis - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
