@{
    ViewData["Title"] = "Početna";
}

    <div class="text-center backgroundWhite">
        <h1 class="display-4">Dobrodošli</h1>
        <p>Za pregled statusa Vašega servisa molimo da se <a asp-area="Identity" asp-page="/Account/Login">prijavite</a>.</p>
    </div>
