@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Pristup odbijen";
}

    <header>

        <div class="backgroundWhite">
            <div class=" row">
                <div class="col-6">
                    <h2>@ViewData["Title"]</h2>
                </div>
            </div>
            <hr />
            <br />
            <p>Nije moguće otvoriti željenu stranicu</p>
    </header>
