@page
@model LockoutModel
@{
    ViewData["Title"] = "Neuspješna prijava";
}

    <header>
        <div class="backgroundWhite">
            <h1 class="text-danger">@ViewData["Title"]</h1>
            <p class="text-danger">Račun je zaključan, obratite se administratoru</p>
        </div>
    </header>
